<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.iutclermont.lpmobile.localsportmeeting.backend.Endpoint.SportEndpoint,
                com.iutclermont.lpmobile.localsportmeeting.backend.Endpoint.CategorieEndpoint,
                com.iutclermont.lpmobile.localsportmeeting.backend.Endpoint.CompetitionEndpoint,
                com.iutclermont.lpmobile.localsportmeeting.backend.Endpoint.RencontreEndpoint,
                com.iutclermont.lpmobile.localsportmeeting.backend.Endpoint.ParticipantEndpoint,
                com.iutclermont.lpmobile.localsportmeeting.backend.Endpoint.UtilisateurEndpoint</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Controleur</servlet-name>
        <servlet-class>com.iutclermont.lpmobile.localsportmeeting.backend.Controleur.Controleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurCategorie</servlet-name>
        <servlet-class>com.iutclermont.lpmobile.localsportmeeting.backend.Controleur.ControleurCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurCompetition</servlet-name>
        <servlet-class>com.iutclermont.lpmobile.localsportmeeting.backend.Controleur.ControleurCompetition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurSport</servlet-name>
        <servlet-class>com.iutclermont.lpmobile.localsportmeeting.backend.Controleur.ControleurSport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurRencontre</servlet-name>
        <servlet-class>com.iutclermont.lpmobile.localsportmeeting.backend.Controleur.ControleurRencontre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurParticipant</servlet-name>
        <servlet-class>com.iutclermont.lpmobile.localsportmeeting.backend.Controleur.ControleurParticipant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controleur</servlet-name>
        <url-pattern>/Controleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurParticipant</servlet-name>
        <url-pattern>/ControleurParticipant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurCategorie</servlet-name>
        <url-pattern>/ControleurCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurRencontre</servlet-name>
        <url-pattern>/ControleurRencontre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurSport</servlet-name>
        <url-pattern>/ControleurSport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurCompetition</servlet-name>
        <url-pattern>/ControleurCompetition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>